* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow-y: hidden;
}

.background {
  background-image: url("../images/mv3.jpg");
  filter: grayscale(0%);
  background-size: cover;
  height: 100%;
}

.top h1 {
  color: white;
  text-align: center;
  border: .125vw solid white;
  display: inline;
  font-size: 6vw;
  font-variant: small-caps;
  padding: 1.5vw 6vw 5vw 6vw;
  right: 31vw;
  top: 2vw;
  position: absolute;
}

.top h2 {
  color: rgba(255,255,255,.75);
  text-align: center;
  display: inline;
  font-size: 5vw;
  font-variant: small-caps;
  position: absolute;
  right: 31vw;
  top: 9vw;
  font-weight: lighter;
  letter-spacing: 1.1vw;
}

.top a {
  color: white;
  display: inline;
  font-size: 4vw;
  font-variant: small-caps;
  margin-top: 2vw;
  margin-left: 2vw;
  text-decoration: none;
  float: left;
  border: none;
  padding: 1.67vw 4vw;
}

.content {
  background-color: rgba(0,0,0,.7);
  width: 90vw;
  border-radius: 3%;
  position: absolute;
  top: 25vw;
  bottom: 22.5vw;
  left: 5vw;
}

.content h1 {
  color: white;
  display: inline;
  font-size: 10vw;
  font-variant: small-caps;
  position: relative;
  top: 2vw;
  left: 3vw;
}

.content p {
  color: white;
  font-size: 6vw;
  font-variant: small-caps;
  margin-top: 5vw;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main h1 {
  color: white;
  text-align: center;
  border: .25vw solid white;
  display: inline;
  font-size: 12vw;
  font-variant: small-caps;
  padding: 3vw 12vw 10vw 12vw;
}

.main h2 {
  color: rgba(255,255,255,.75);
  text-align: center;
  display: inline;
  font-size: 10vw;
  font-variant: small-caps;
  position: relative;
  left: 1vw;
  bottom: 14.5vw;
  font-weight: lighter;
  letter-spacing: 2.2vw;
}

.main a {
  color: white;
  display: inline;
  font-size: 6vw;
  font-variant: small-caps;
  margin-top: 1vw;
  text-decoration: none;
  transition: all .1s ease-in;
  position: relative;
  bottom: 12vw;
}

.main a:hover {
  transition: all .1s ease-in;
  color: rgba(225,225,225,.75);
}

.grid {
  display: grid;
  grid-auto-rows: minmax(20vw, auto);
  grid-gap: 3vw;
  grid-template-columns: repeat(6, 1fr);
  width: 90vw;
  position: absolute;
  left: 5vw;
  margin-top: 2.5vw;
}

.grid a {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 4vw;
  margin-top: 0;
  /*background-color: rgba(0,0,0,.7);*/
  background: url('../images/mv3.jpg');
  background-size: cover;
  border-radius: 3%;
  position: relative;
  top: 0;
  letter-spacing: 1vw;
  border: 0.25vw solid white;
}

.grid a:nth-child(1) {
  grid-column: span 3;
  grid-row: span 2;
}
.grid a:nth-child(2) {
  grid-column: span 3;
  grid-row: span 2;
}
.grid a:nth-child(3) {
  grid-column: span 3;
  grid-row: span 2;
}
.grid a:nth-child(4) {
  grid-column: span 3;
  grid-row: span 2;
}

.footer {
  font-size: 3vw;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #222;
  line-height: .8em;
  width: 100%;
  padding: .75em 0;
  position: absolute;
  bottom: 0;
}

.social {
  margin-top: .5vw;
  margin-bottom: 3vw;
}

.social a {
  color: white;
  text-decoration: none;
}

.social img {
  width: 10vw;
  margin: 0 .5vw;
  padding: 0 1vw;
}
